ol {
    padding: 0;
}

.document {
    padding-left: 112px;
    padding-right: 112px;
    background-color: #F6F8F7;
}

.header-document-main {
    font-size: 48px;
    text-align: center;
    color: #292E3D;
}

.header-document {
    list-style-position: inside;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    color: #292E3D;
}

.text-document {
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 20px;
    color:#292E3D;
}

.text-document::marker {
    font-weight: bold;
}

.text-document:first-child {
    margin-top: 30px;
}

.text-document:last-child {
    margin-bottom: 0;
}

ol ul li::marker {
    content: "- ";
}

ol ul li::first-letter {
    text-transform: uppercase;
}

.main-counter {
    counter-reset: main;
    padding: 0;
}

.counter  {
    counter-reset:new ;
    counter-increment: main 1;
}

.element {
    counter-increment: new 1;
}

.element::marker {
    content: counter(main)"."counter(new)". ";
}

.counter-number::after {

    content: counter(new);
}

.junior-counter {
    counter-reset: junior 0;
    padding-left: 40px;
}

.junior-element {
    counter-increment: junior 1;
}

.junior-element::marker {
    content: counter(main)"."counter(new)"."counter(junior)". ";
}

@media (max-width: 1383px) {
    .document {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 1024px) {
    
    
}

@media (max-width: 834px) {
    .document {
        padding-left: 40px;
        padding-right: 40px;
    }
    
}

@media (max-width: 601px) {
    .header-document-main {
        font-size: 32px;
    }

    .header-document {
        font-size: 26px;
    }

    .text-document {
        font-size: 18px;
    }
    
}

@media (max-width: 430px) {
    .document {
        padding-left: 20px;
        padding-right: 20px;
    }
    
}