.hero {
    background-image: url('../image/hero1_middle_dry.jpg');
    padding: 239px 0 50px 112px;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 114px;
    padding-top: 74px;
    padding-bottom: 202px;
}

.about-us-text {
    width: 488px;
    background-color: #055494;
    padding: 50px 60px 50px 40px ;
    color: white;
    font-size: 18px;
    box-sizing: border-box;
    transform: translateX(-150px);
}

.about-us-text p:last-child{
    margin: 0;
}

.about-us-text h2 {
    margin-bottom: 37px;
}

.statistics-left {
    grid-template-columns: repeat(5, 110px);
}

.statistics-box:nth-child(1){
    grid-column: 3 / 5;
    grid-row: 1 / 4;
    z-index: 1;
    position: relative;
}

.statistics-box:nth-child(2){
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    z-index: 0;
    position: relative;
}

.statistics-box:nth-child(3){
    grid-column: 3 / 5;
    grid-row: 5 / 8;
    z-index: 1;
    position: relative;
}

.statistics-box:nth-child(4){
    grid-column: 1 / 4;
    grid-row: 7 / 10;
    z-index: 0;
    position: relative;
}

.statistics-box p:first-child{
    color: #292E3D;
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    margin-left: 30px;
}

.statistics-box p:last-child{
    color: #667299;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    margin-left: 46px;
    border-left: 7px solid #F9995D;
    padding-left: 12px;
}

.handshake::after {
    content: url('../image/handshake.svg');
    position: absolute;
    width: 97px;
    height: 97px;
    top: -50px;
    right: -50px;
}

.paper-pen::before {
    content: url('../image/paper_pen.svg');
    position: absolute;
    width: 79px;
    height: 79px;
    top: -40px;
    left: -30px;
}

.cup::after {
    content: url('../image/Cup.svg');
    position: absolute;
    width: 93px;
    height: 93px;
    top: -20px;
    right: -20px;
}

.plan::before {
    content: url('../image/Project.svg');
    position: absolute;
    width: 84px;
    height: 84px;
    bottom: -30px;
    right: -10px;
}

.statistics-right {
    width: 330px;
}

.consultation {
    background-image: url('../image/consultation_image_middle.jpg');
}


@media (max-width: 1383px) {
    .hero {
        padding-top: 180px;
        padding-left: 80px;
    }

    .about-us {
        padding-top: 70px;
        padding-bottom: 200px;
    }
    .about-us-image img {
        width: 750px;
        height: auto;
    }
}

@media (max-width: 1024px) {
    .about-us {
        padding-top: 70px;
        padding-bottom: 200px;
    }
    .about-us-image img {
        width: 750px;
        height: auto;
    }
}