h3 {
        list-style-position: inside;
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 30px;
        color: #292E3D;
}

.document {
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero {
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
}

.work-according-your-profile {
    min-width: 250px;
}